# Unity generated
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/MemoryCaptures/

# IDE
.vs/
.vscode/
.idea/

# Unity settings
UserSettings/
.plastic/

# Visual Studio / Rider
*.csproj
*.sln
*.user
*.userprefs
*.unityproj